*{
  font-family: 'Times New Roman', Times, serif;
color: white ;
  
}



body{
 background-image: url("bgmlog.jpg");
}

.divmain{
  border: 2px solid rgba(255,255,255,.2);
  height: 500px;
  width: 400px;
  margin-left: 45px;
  margin-top: 150px;
  background-color: transparent;
  border-radius: 25px;
  backdrop-filter: blur(4px)
  
}

.divmain h1{
  margin-left: 150px;
  
}

#int1{
  margin-left: 90px;
  margin-top: 50px;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,.7);
  outline: none;
  border-radius: 25px;
  background: transparent;
  
}

#int2{
  margin-left: 90px;
  margin-top: 50px;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,.7);;
  outline: none;
  border-radius: 25px;
  background: transparent;
  
}


.divmain ::placeholder{
  color: white;
  
}

#lf{
margin-left: 140px;
}

button{
  margin-left: 100px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  background: white;
  border: 2px solid white;
  border-radius: 40px;
  color: black;
  
}







